.submitForm {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 80%;
    align-items: flex-start;
    border: 1px solid #516463;
    padding: 30px;
    border-radius: 20px;
}

.selector,
.InputAdd {
    margin-bottom: 20px;
    padding: 8px 15px;
    color: #2d414f;
    font-size: 14px;
}
.selector{
    width: 50%;
}

.InputAdd{
    width: 80%;
    resize: none;
}
textarea  {
    min-height: 80px;
}
.label{
    color: #516463;
    font-size: smaller;
    margin-bottom: 5px;
}
.FormTitle{
    color: #2d414f;
    text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
}