.App {
  max-width: 1300px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.mainBlock{
  display: flex;
}
.Categories{
  width: 30%;
  max-height: 100vh;
  overflow-y: auto;
  border: 1px solid #ccc;
}
.Quotes{
  width: 70%;
}